body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-text {
    font-size: 24px;
    color: #F9FAF8;
}


ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

.top-section {
    display: flex;
    background-color: #1f2937;
    flex-direction: column  ;
    color: white;
    height: 300px;
}


.subtext {
    display: inline-flex;  
    justify-content: center;
    align-items: center;
    height: 300px;
    justify-content: center;
}

.left, .right {
    display: flex;
    width: 300px;
    height: auto;
    justify-content: center;
}   

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-sec {
    font-size: 18px;
    color: #E5E7EB;
}

.left {
    flex-direction: column;
}
