body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-text {
    font-size: 24px;
    color: #F9FAF8;
}


ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

.top-section {
    display: flex;
    background-color: #1f2937;
    flex-direction: column  ;
    color: white;
    
}


.subtext {
    display: inline-flex;  
    justify-content: center;
    align-content: center;
    
    padding-top: 60px;
    padding-bottom: 60px;
}

.left, .right {
    display: flex;
    width: 450px;
    height: auto;
    justify-content: center;

    flex-shrink: 0;
}   

.right {
    align-items: center;
    flex-wrap: wrap;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-sec, .header-link {
    font-size: 18px;
    color: #E5E7EB;
}

.left {
    flex-direction: column;
    width: 450px;
    height: auto;
    justify-content: space-between;
}

#coffee-thumbnail {
    width: 450px;
    height: auto;

}

button {
    width: 80px;
}
